@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
  --White: #FFFFFF;
  --Black: #000000;
  --Red: #FF0000;
  --Dark-gray: #303030;
  --icons: #505050;
  --Light-gray: #D3D3D3;
  --lighter-gray: #F3F3F3;
  --lighter-light-gray: #D9D9D9;
  --Blue: #007ACC;
  --Green: #33CC33;
  --Yellow: #FFFF00;
  --Orange: #FF8000;
  --btn: #ffd43c;


  --back-1: url('./assets/1.svg');
  --back-2: url('./assets/2.svg');
  --back-3: url('./assets/3.svg');

  --font1: 'PT Sans', sans-serif;
  --font2: 'Roboto', sans-serif;
  --font3: 'Montserrat', sans-serif;

  
}
::-webkit-scrollbar{
  display: none;
}
body {
  margin: 0;
  font-family: var(--font3);
  max-height: 100vh;
  max-width: 100%;
  overflow: hidden;
}
.pages{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: var(--font3);
}

button{
  font-family: var(--font3);
  cursor: pointer;
}

/* Get Started Page */
.get-started{
  background: var(--back-1) no-repeat center center fixed;
  background-size:cover;
  font-family: var(--font3);
}
.side-1, 
.start-container{
  height: 90vh;
  margin: 0 20px;
}
.side-1{
  width: fit-content;
  background: var(--back-1);
  background-repeat: no-repeat;
}
.start-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.start-container p{
  align-self: center;
}

.title{
  font-weight: 900;
  color: var(--Dark-gray);
}

.get-started-btn{
  font-size: small;
  font-weight: bold;
  border-radius: 5px;
  padding:10px 0;
  width: 100%;
  border:none;
  background: var(--btn);
  cursor: pointer;
}

/* Login Page */
.login{
  background: var(--back-2) no-repeat center center fixed;
  background-size: cover;
}
.login-form{
  padding:30px 50px;
  border-radius: 10px;
  box-shadow: 0 0 10px var(--Light-gray);
}

.login-input,
.login-btn{
  margin: 10px 0;
  border: none;
  padding: 10px 30px;
  border-radius: 5px;
  display: block;
}

.login-input{
  outline: 1px solid var(--Light-gray);
  background: transparent;
  width: calc(90% - 30px);
}

.login-btn{
  width: 100%;
  background: var(--btn);
  cursor: pointer;
}


/* Sign up page */
.sign-up{
  background: var(--back-3) no-repeat center center fixed;
  background-size: cover;
}

.signup-form{
  padding: 30px 50px;
  border-radius: 10px;
  box-shadow: 0 0 10px var(--Light-gray);
}
.signup-input{
  outline: 1px solid var(--Light-gray);
  background: transparent;
  width: calc(90% - 30px);
}
.signup-btn{
  width: 100%;
  background: var(--btn);
  cursor: pointer;
  
}

.signup-input,
.signup-btn{
  margin: 10px 0;
  border: none;
  padding: 10px 30px;
  border-radius: 5px;
  display: block;
}

/* Main Page */
nav{
  width: unset;
  float: left;
}

.top{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.menu {
  position: absolute;
  top: 10px;
  transform: translateX(-100%);
  margin: 0;
  padding: 5px 20px;
  width: 350px;
  height: calc(100vh - 30px);
  border-radius: 15px;
  background: var(--lighter-gray);
  transition: transform 0.5s ease-in-out;
}
.top > h2{
  color: var(--Dark-gray);
}
.menu.show {
  transform: translateX(10px);
}

.menu-btn{
  position: absolute;
  top: 10px;
  left: 10px;
  margin: 20px ;
  border: none;
  background: transparent;
  cursor: pointer;
}

.menu-close{
  border: none;
  background: transparent;
  cursor: pointer;
}

.task-btn{
  color: var(--icons);
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border-radius: 5px;
  max-width: 90%;
  gap: 20px;
  margin: 5px 0 0 5px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.task-btn:hover{
  background: var(--Light-gray);
}
.task-btn.active{
  background: var(--Light-gray);
}

.task{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  color: var(--icons);
}
.task > h4{
  margin-bottom: 0px;
}

.list-link{
  color: var(--icons);
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 5px 0 0 5px;
}


hr{
  border-top: 0.5px solid var(--Light-gray);
  margin: 35px 0 0 0;
}

.add-list-btn{
  border: none;
  display: flex;
  padding: 5px;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  width: 100%;
  background: transparent;
  border-radius: 5px;
}

.add-list-btn:hover{
  background: var(--White);
}

.add-list{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-list-container{
  width: 90%;
  height: 0;
  background-color: var(--White);
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 0;
  overflow: hidden;
  transition: 
    height 0.5s ease-in-out, 
    padding 0.5s ease-in-out;
}
.add-list-container.show{
  height: 90px;
  padding: 10px 20px 20px 20px;
}
.list-input-container{
  width: 90%;
  border: 0.5px solid var(--Light-gray);
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
  align-self: center;
}

.list-input{
  padding: 5px 8px;
  outline: none;
  border: none;
  width:75%;
}

.list-btn{
  padding: 5px;
  width: 20%;
  border: none;
  cursor: pointer;
  background:var(--Light-gray);
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

.add-tag-btn{
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--lighter-light-gray);
  padding:5px 10px;
  border-radius: 5px;
  gap: 5px;
  cursor: pointer;
}

.tags-container{
  display: flex;
}
.add-tags{
  width: 100%;
}
.add-tag-container{
  width: 0;
  height: 0;

  background-color: var(--White);
  border-radius: 5px;
  padding: 0;
  overflow: hidden;
  transition:
    height 0.5s ease-in-out, 
    padding 0.5s ease-in-out,
    width 0.5s ease-in-out;

  display: flex;
  flex-direction: column;
}

.add-tag-container.show{
  height: 90px;
  width: 90%;
  padding: 10px 20px 20px 20px;
}

.tag-input-container{
  width: 90%;
  border: 0.5px solid var(--Light-gray);
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
  align-self: center;
}

.tag-input{
  padding: 5px 8px;
  outline: none;
  border: none;
  width:75%;
}

.tag-btn{
  padding: 6px 9px;
  width: 20%;
  border: none;
  cursor: pointer;
  background:var(--Light-gray);
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}


.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 0 0 10px 10px;
}

.footer-btn {
  border: none;
  display: flex;
  align-items: center;
  justify-content: baseline;
  font-size: small;
  gap: 20px;
  margin-top: 10px;
  cursor: pointer;
}

main{
  max-height: 100vh;
  max-width: 100%;
}

.main-section {
  height: calc(100vh - 35px);
  width: calc(100% - 60px);
  margin: 35px 0 0 100px;
  transition: 
    width 0.5s ease-in-out,
    margin 0.5s ease-in-out;
}

.main-section.adjust {
  width: calc(100% - 400px);
  margin-left:450px;
}

.upcoming-container{
  display: flex;
  width: 100%;
  height: 100%;
}

.tom-container{
  width: 45%;
}

.upcoming-input,
.today-input{
  display: flex;
  padding: 10px 15px;
  border: 0.5px solid var(--Light-gray);
  width: 97%;
  align-items: center;
  border-radius: 5px;
}

.task-inp{
  width: 90%;
}

.upcoming-input > 
button,
input, 
.today-input > 
button,
input{
  border: none;
  background: transparent;
  outline: none;
}
.today{
  height: 100%;
  width: 93%;
  transition: 
    width 0.5s ease-in-out,
    margin 0.5s ease-in-out;
}

.today.adjust {
  width: calc(100% - 400px);
  margin-left:450px;
}

.today.show-task-active{
  width: calc(100% - 600px);
  margin-right: 550px;
}

.task-container{
  height: 80vh;
  width:97%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.tasks-item {
  width: 100%;
  padding: 0 10px;
  border: solid 0.5px var(--Light-gray);
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tasks-item:hover {
  border: solid 0.5px var(--Light-gray);
  border-radius: 10px;
}

.task-view{
  width: 500px;
  height: 100vh;
  position: absolute;
  transform: translateX(150%);
  top: 10px;
  right: 10px;
  padding: 10px;
  overflow: hidden;
  transition: transform 0.5s ease-in-out;
  background: var(--lighter-gray);
  border-radius: 10px;
}

.task-view.show-task{
 transform: translateX(0); 
}

.task-head{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.task-head>h3{
  margin-left: 13px;
}
